/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-12-23, 12:07:40
    Author     : Filip
*/


body {

    padding-top: 125px;

    padding-bottom: 40px;

    background-color: lightslategrey;

}
#box {
   position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 30%;
    margin: auto;
  
  background: lightsteelblue;
  border-radius: 1em;
  border: 3px solid #3276B1;

}

h1{
    font-size: 2.5vw;

}
p{
    font-size: 1.5vw; 
}

.button1 {
  margin: 10px;
background-color: #3276B1;
border: 1px solid #bbbbbb;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-moz-box-shadow: 2px 2px 3px #cccccc;
-webkit-box-shadow: 2px 2px 3px #cccccc;
box-shadow: 2px 2px 3px #cccccc;
text-decoration: none;
color: #fff;
font-family: Calibri, Verdana, Arial, sans-serif;
font-size: 18px;
   position: static;
  width: 100px;
 font-size: 1.3vw;
outline: none;
padding: 3px 10px;
}
 
.button1:active {
-moz-box-shadow: 2px 2px 3px #cccccc inset;
-webkit-box-shadow: 2px 2px 3px #cccccc inset;
box-shadow: 2px 2px 3px #cccccc inset;
}
