<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        
        <title>Brak dostępu</title>
  
         <link rel="stylesheet" type="text/css" media="all"  
     href="../css/home.css"  th:href="@{/css/home.css}" />
  


     
    </head>
 <body>
    <center> <div id="box">
        <center><h1 >Brak dostępu</h1></center>

       
         
        
           <center><div><input class="button1" id="tutaj" type="button"  value="Powrot"  onclick="window.location.href='/home'" /></div></center>
 </div></center>
 </body>
</html>