<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Panel Administratora</title>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="all"  href="../css/main.css"  th:href="@{/css/main.css}" />


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" media="all"  
              href="../css/editor.dataTables.min.css"  th:href="@{/css/editor.dataTables.min.css}" />

        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


        <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>


</head>
<body>
    <div id="wrapper">
        <div id="headerwrap">
        <div id="header">
            <p>Panel administratora</p>
        </div>
        </div>

        <div id="leftcolumnwrap">
        	<div id="leftcolumn">
            <ul class="nav navbar-nav">
                <li ><a  th:href="@{/admin}">Strona główna</a></li>     
                <li ><a  th:href="@{/admin_dzalkami}">Zarządzanie działkami</a></li>
                <li class="active"><a  th:href="@{/admin_liczniki}">Liczniki</a></li>                         
                <li ><a  th:href="@{/admin_uzytkownicy}">Użytkownicy</a></li>
                <li ><a  th:href="@{/admin_dokumenty}">Dokumenty​</a></li>
                <li ><a  th:href="@{/admin_wyciagi}">Wyciągi</a></li>
                <li ><a  th:href="@{/admin_raport}">Raporty</a></li>
                <li><a th:href="@{/login?logout}" onclick="$('#form').submit();">Wyloguj</a>
                    <form style="visibility: hidden" id="form" method="post"  th:action="@{/logout}"></form>
                </li>
             </ul>
        	</div>
        </div>
        <div id="contentwrap">
        <div id="content">
       
       
               <table id="admin_zarz_liczniki_Table" class="display" cellspacing="0" width="100%">

            <!-- Header Table -->
            <thead class="display headAndFooter">
                <tr>
                    <th>Nr Odczytu</th>
                    <th>Nr dzialki</th>
                    <th>Odczyt</th> 
                    <th>Data</th>
                    <th>Stan licznika</th>
                    <th>Należność</th>
                </tr>
            </thead>

        </table>
        <script src="/jQuery-2.1.4.min.js"></script>
        <script src="/jquery.dataTables.js"></script>
        <script src="/dataTables.bootstrap.min.js"></script>
        <script src="/jquery.spring-friendly.js"></script>

        <script src="../../js/dataTables.editor.min.js"></script>
        <script src="../../js/admin_liczniki.js"></script>
       
       
       
       
        </div>
        </div>
        <div id="footerwrap">
        <div id="footer">
            <p>UTP 2017/2018</p>
        </div>
        </div>
    </div>
</body>
</html>
