<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        
        <title>ROD</title>
  
         <link rel="stylesheet" type="text/css" media="all"  
     href="../css/login.css"  th:href="@{/css/login.css}" />
  


     
    </head>
    <body>
       <div id="box">
      <center><h1>Rodzinne ogródki działkowe</h1></center>
           <div>
            <img th:src="@{/img/test.jpg}" alt="memorynotfound logo"/>
           <input class="button1" id="Tutaj" type="button"  value="Przejdź dalej"  onclick="window.location.href='/login'" /></div>
 </div>
 
    </body>
</html>